{% extends 'header1.html' %}
{% load static %}
{% block content %}

<div>
  <div class="col-12 col-lg-8 d-flex" style="margin: 90px 290px;">
                      <div class="card border shadow-none w-90">
                        <div class="card-body" style="width:470px;">
                          <div class="table-responsive">
                             <table class="table align-middle">
                               <thead class="table-light">
                                 <tr>
                                   <th>ID</th>

                                   <th>Name</th>

                                 </tr>
                               </thead>
                               <tbody>
                               {% for i in cid %}

                                 <tr>


                                   <td>{{i.id}}</td>

                                   <td>{{i.Category_name}}</td>

                                 </tr>
                                {% endfor %}

                               </tbody>
                             </table>
                          </div>

                        </div>
                      </div>
                    </div>
</div>
{% endblock %}